/resources/public/factorio-blueprint-tools/js/compiled/**
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.repl
.nrepl-port
.cljs_rhino_repl
.clojure
.m2
.npm
node_modules
package-lock.json
.shadow-cljs
.cpcache
