#kaocha/v1
{:tests [{:id          :unit
          :test-paths  ["test"]
          :ns-patterns [".*"]}]
 :plugins [:kaocha.plugin/profiling
           :kaocha.plugin/notifier]
 :kaocha.plugin.notifier/command "terminal-notifier -message '%{message}' -title '%{title}'"
 :kaocha.plugin.profiling/count 3
 :kaocha.plugin.profiling/profiling? true}
