{
  :cargo-wagon-remnants [ [ -1.0 -3.0 ] [ 1.0 3.0 ] ]
  :assembling-machine-1-remnants [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :stack-inserter [ [ -0.4 -0.35 ] [ 0.4 0.45 ] ]
  :small-electric-pole [ [ -0.4 -0.4 ] [ 0.4 0.4 ] ]
  :power-switch-remnants [ [ -0.5 -1 ] [ 0.5 1 ] ]
  :rocket-silo-rocket [ [ 0 0 ] [ 0 0 ] ]
  :long-handed-inserter [ [ -0.4 -0.35 ] [ 0.4 0.45 ] ]
  :crash-site-assembling-machine-1-repaired [ [ -1.5 -1 ] [ 1.5 1 ] ]
  :big-scorchmark-tintable [ [ -4 -4 ] [ 4 4 ] ]
  :beacon [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :car [ [ -0.7 -1 ] [ 0.7 1 ] ]
  :pump [ [ -0.5 -1 ] [ 0.5 1 ] ]
  :filter-inserter [ [ -0.4 -0.35 ] [ 0.4 0.45 ] ]
  :substation-remnants [ [ -1 -1 ] [ 1 1 ] ]
  :sand-rock-big [ [ -1.0 -1.0 ] [ 1.0 0.75 ] ]
  :infinity-chest [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :express-loader [ [ -0.5 -1 ] [ 0.5 1 ] ]
  :iron-ore [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :tree-09-red [ [ -0.9 -2.2 ] [ 0.9 0.6 ] ]
  :constant-combinator [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :passive-provider-chest-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :distractor-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :tree-09 [ [ -0.9 -2.2 ] [ 0.9 0.6 ] ]
  :medium-spitter [ [ -0.5 -0.7 ] [ 0.5 0.7 ] ]
  :storage-chest-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :tree-04 [ [ -0.9 -2.2 ] [ 0.9 0.6 ] ]
  :programmable-speaker-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :crash-site-lab-repaired [ [ -2.5 -1.5 ] [ 2.5 1.5 ] ]
  :item-request-proxy [ [ -0.5 -0.4 ] [ 0.5 0.6 ] ]
  :chemical-plant [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :medium-worm-corpse [ [ -0.8 -0.8 ] [ 0.8 0.8 ] ]
  :burner-mining-drill-remnants [ [ -1 -1 ] [ 1 1 ] ]
  :requester-chest-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :character-corpse [ [ -0.7 -0.7 ] [ 0.7 0.7 ] ]
  :transport-belt-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :wooden-chest-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :destroyer-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :fast-transport-belt-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :burner-generator [ [ -1.5 -2.5 ] [ 1.5 2.5 ] ]
  :rail-ending-remnants [ [ -1.7 -0.8 ] [ 1.7 0.8 ] ]
  :medium-scorchmark-tintable [ [ -2 -2 ] [ 2 2 ] ]
  :artillery-wagon-remnants [ [ -1.0 -3.0 ] [ 1.0 3.0 ] ]
  :deconstructible-tile-proxy [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :wooden-chest [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :medium-biter [ [ -0.7 -1.5 ] [ 0.7 0.3 ] ]
  :heat-pipe [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :dry-hairy-tree [ [ -0.8 -0.8 ] [ 0.8 0.8 ] ]
  :straight-rail-remnants [ [ -0.7 -0.8 ] [ 0.7 0.8 ] ]
  :pump-remnants [ [ -0.5 -1 ] [ 0.5 1 ] ]
  :roboport [ [ -2 -2 ] [ 2 2 ] ]
  :biter-spawner-corpse [ [ -2 -2 ] [ 2 2 ] ]
  :transport-belt [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :behemoth-biter-corpse [ [ -1 -1 ] [ 1 1 ] ]
  :logistic-chest-active-provider [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :radar-remnants [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :loader [ [ -0.5 -1 ] [ 0.5 1 ] ]
  :roboport-remnants [ [ -2 -2 ] [ 2 2 ] ]
  :biter-spawner [ [ -3.5 -2.5 ] [ 2.5 2.5 ] ]
  :big-remnants [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :loader-1x1 [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :big-worm-corpse [ [ -0.8 -0.8 ] [ 0.8 0.8 ] ]
  :steam-engine-remnants [ [ -1.5 -2.5 ] [ 1.5 2.5 ] ]
  :artillery-wagon [ [ -1 -2.703125 ] [ 1 3.296875 ] ]
  :oil-refinery [ [ -2.5 -2.5 ] [ 2.5 2.5 ] ]
  :logistic-chest-buffer [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :nuclear-reactor [ [ -2.5 -2.5 ] [ 2.5 2.5 ] ]
  :rail-signal-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :wall-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :pipe-to-ground-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :gate [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :medium-ship-wreck [ [ -1.5 -1.2 ] [ 1.5 1.2 ] ]
  :offshore-pump-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :stack-filter-inserter-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :heat-exchanger-remnants [ [ -1.5 -1 ] [ 1.5 1 ] ]
  :big-worm-turret [ [ -1.4 -1.2 ] [ 1.4 1.2 ] ]
  :medium-remnants [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :spitter-spawner [ [ -3.5 -2.5 ] [ 2.5 2.5 ] ]
  :big-spitter [ [ -0.7 -1.0 ] [ 0.7 1.0 ] ]
  :arithmetic-combinator-remnants [ [ -0.5 -1 ] [ 0.5 1 ] ]
  :tree-03-stump [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :medium-spitter-corpse [ [ -1 -1 ] [ 1 1 ] ]
  :tree-06-brown [ [ -0.9 -2.2 ] [ 0.9 0.6 ] ]
  :laser-turret [ [ -1 -1 ] [ 1 1 ] ]
  :boiler-remnants [ [ -1.5 -1 ] [ 1.5 1 ] ]
  :construction-robot-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :distractor [ [ -0.5 -1.5 ] [ 0.5 -0.5 ] ]
  :tank-remnants [ [ -1.5 -2.5 ] [ 1.5 2.5 ] ]
  :heat-pipe-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :crash-site-electric-pole [ [ 0 0 ] [ 0 0 ] ]
  :dead-dry-hairy-tree [ [ -0.8 -0.8 ] [ 0.8 0.8 ] ]
  :lamp-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :boiler [ [ -1.5 -1 ] [ 1.5 1 ] ]
  :spitter-spawner-corpse [ [ -2 -2 ] [ 2 2 ] ]
  :assembling-machine-2-remnants [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :artillery-turret-remnants [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :big-biter [ [ -0.7 -1.5 ] [ 0.7 0.3 ] ]
  :rock-big [ [ -1.2 -1.2 ] [ 1.2 1.2 ] ]
  :destroyer [ [ -0.5 -1.5 ] [ 0.5 -0.5 ] ]
  :express-transport-belt-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :electric-energy-interface [ [ -1 -1 ] [ 1 1 ] ]
  :crash-site-assembling-machine-2-broken [ [ -1 -1.5 ] [ 1 1.5 ] ]
  :laser-turret-remnants [ [ -1 -1 ] [ 1 1 ] ]
  :active-provider-chest-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :medium-biter-corpse [ [ -1 -1 ] [ 1 1 ] ]
  :tree-03 [ [ -0.9 -2.2 ] [ 0.9 0.6 ] ]
  :character [ [ -0.4 -1.4 ] [ 0.4 0.2 ] ]
  :fast-splitter-remnants [ [ -0.9 -0.5 ] [ 0.9 0.5 ] ]
  :blue-chest [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :medium-scorchmark [ [ -2 -2 ] [ 2 2 ] ]
  :centrifuge-remnants [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :constant-combinator-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :infinity-pipe [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :defender [ [ -0.5 -1.5 ] [ 0.5 -0.5 ] ]
  :curved-rail [ [ -1.7 -0.8 ] [ 1.7 0.8 ] ]
  :assembling-machine-2 [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :steam-turbine-remnants [ [ -1.5 -2.5 ] [ 1.5 2.5 ] ]
  :pipe-to-ground [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :logistic-chest-passive-provider [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :storage-tank-remnants [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :pumpjack [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :stack-filter-inserter [ [ -0.4 -0.35 ] [ 0.4 0.45 ] ]
  :crash-site-lab-broken [ [ -2.5 -1.5 ] [ 2.5 1.5 ] ]
  :tree-09-brown [ [ -0.9 -2.2 ] [ 0.9 0.6 ] ]
  :big-electric-pole-remnants [ [ -1 -1 ] [ 1 1 ] ]
  :cargo-wagon [ [ -1 -2.703125 ] [ 1 3.296875 ] ]
  :curved-rail-remnants [ [ -1.7 -0.8 ] [ 1.7 0.8 ] ]
  :market [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :tree-02 [ [ -0.9 -2.2 ] [ 0.9 0.6 ] ]
  :land-mine [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :crash-site-chest-1 [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :medium-small-remnants [ [ -1 -1 ] [ 1 1 ] ]
  :tree-06 [ [ -0.9 -2.2 ] [ 0.9 0.6 ] ]
  :stone-furnace [ [ -0.8 -1 ] [ 0.8 1 ] ]
  :big-ship-wreck-1 [ [ -2.7 -1.5 ] [ 2.7 1.5 ] ]
  :stack-inserter-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :lab [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :tree-08-stump [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :electric-furnace [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :tank [ [ -0.9 -1.3 ] [ 0.9 1.3 ] ]
  :small-spitter-corpse [ [ -1 -1 ] [ 1 1 ] ]
  :big-ship-wreck-3 [ [ -2 -1.5 ] [ 2 1.5 ] ]
  :defender-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :small-scorchmark-tintable [ [ -1 -1 ] [ 1 1 ] ]
  :land-mine-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :behemoth-worm-turret [ [ -1.4 -1.2 ] [ 1.4 1.2 ] ]
  :nuclear-reactor-remnants [ [ -2.5 -2.5 ] [ 2.5 2.5 ] ]
  :compilatron [ [ -0.8 -1.3 ] [ 0.8 0.5 ] ]
  :small-electric-pole-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :lab-remnants [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :simple-entity-with-owner [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :fast-transport-belt [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :uranium-ore [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :small-lamp [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :electric-mining-drill [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :dry-tree [ [ -0.6 -1.5 ] [ 0.6 0.3 ] ]
  :assembling-machine-1 [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :locomotive-remnants [ [ -1.0 -3.0 ] [ 1.0 3.0 ] ]
  :power-switch [ [ -1 -1 ] [ 1 1 ] ]
  :fast-underground-belt-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :rocket-silo [ [ -4.5 -4.5 ] [ 4.5 4.5 ] ]
  :artillery-turret [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :tree-05 [ [ -0.9 -2.2 ] [ 0.9 0.6 ] ]
  :steam-engine [ [ -1.5 -2.5 ] [ 1.5 2.5 ] ]
  :iron-chest [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :splitter-remnants [ [ -0.9 -0.5 ] [ 0.9 0.5 ] ]
  :tree-04-stump [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :tree-05-stump [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :cliff [ [ -1.5 -1.5 ] [ 1.5 1.5 ] 0 ]
  :express-splitter-remnants [ [ -0.9 -0.5 ] [ 0.9 0.5 ] ]
  :tree-07-stump [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :steel-chest [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :inserter-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :stone [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :burner-inserter [ [ -0.4 -0.35 ] [ 0.4 0.45 ] ]
  :fast-inserter [ [ -0.4 -0.35 ] [ 0.4 0.45 ] ]
  :solar-panel [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :buffer-chest-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :pumpjack-remnants [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :tree-08-brown [ [ -0.9 -2.2 ] [ 0.9 0.6 ] ]
  :express-splitter [ [ -0.9 -0.5 ] [ 0.9 0.5 ] ]
  :splitter [ [ -0.9 -0.5 ] [ 0.9 0.5 ] ]
  :logistic-chest-requester [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :heat-interface [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :radar [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :rail-chain-signal [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :underground-belt [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :dead-grey-trunk [ [ -0.8 -0.8 ] [ 0.8 0.8 ] ]
  :stone-furnace-remnants [ [ -1 -1 ] [ 1 1 ] ]
  :fast-underground-belt [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :behemoth-biter [ [ -0.7 -1.5 ] [ 0.7 0.3 ] ]
  :dead-tree-desert [ [ -0.8 -0.8 ] [ 0.8 0.8 ] ]
  :hidden-electric-energy-interface [ [ 0 0 ] [ 0 0 ] ]
  :crash-site-generator [ [ -1.5 -0.9 ] [ 0.9 0.9 ] ]
  :tree-08 [ [ -0.9 -2.2 ] [ 0.9 0.6 ] ]
  :rail-chain-signal-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :player-port [ [ -1 -1 ] [ 1 1 ] ]
  :steel-furnace [ [ -0.8 -1 ] [ 0.8 1 ] ]
  :heat-exchanger [ [ -1.5 -1 ] [ 1.5 1 ] ]
  :rocket-silo-rocket-shadow [ [ 0 0 ] [ 0 0 ] ]
  :stone-wall [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :small-worm-turret [ [ -0.9 -0.8 ] [ 0.9 0.8 ] ]
  :big-spitter-corpse [ [ -1 -1 ] [ 1 1 ] ]
  :small-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :1x2-remnants [ [ -0.5 -1 ] [ 0.5 1 ] ]
  :programmable-speaker [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :tree-02-red [ [ -0.9 -2.2 ] [ 0.9 0.6 ] ]
  :tree-01 [ [ -0.9 -2.2 ] [ 0.9 0.6 ] ]
  :pipe-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :pipe [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :solar-panel-remnants [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :tree-07 [ [ -0.9 -2.2 ] [ 0.9 0.6 ] ]
  :burner-inserter-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :simple-entity-with-force [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :red-chest [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :decider-combinator [ [ -0.5 -1 ] [ 0.5 1 ] ]
  :coal [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :logistic-robot [ [ -0.5 -1.5 ] [ 0.5 -0.5 ] ]
  :tree-09-stump [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :crash-site-assembling-machine-2-repaired [ [ -1 -1.5 ] [ 1 1.5 ] ]
  :gate-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :fluid-wagon-remnants [ [ -1.0 -3.0 ] [ 1.0 3.0 ] ]
  :train-stop-remnants [ [ -1 -1 ] [ 1 1 ] ]
  :assembling-machine-3-remnants [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :accumulator-remnants [ [ -1 -1 ] [ 1 1 ] ]
  :locomotive [ [ -1 -3 ] [ 1 3 ] ]
  :item-on-ground [ [ -0.17 -0.17 ] [ 0.17 0.17 ] ]
  :construction-robot [ [ -0.5 -1.5 ] [ 0.5 -0.5 ] ]
  :express-transport-belt [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :train-stop [ [ -0.9 -0.9 ] [ 0.9 0.9 ] ]
  :arithmetic-combinator [ [ -0.5 -1 ] [ 0.5 1 ] ]
  :tree-02-stump [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :fast-inserter-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :steel-furnace-remnants [ [ -1 -1 ] [ 1 1 ] ]
  :fish [ [ -0.5 -0.3 ] [ 0.5 0.3 ] ]
  :accumulator [ [ -1 -1 ] [ 1 1 ] ]
  :rail-signal [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :flamethrower-turret [ [ -1 -1.5 ] [ 1 1.5 ] ]
  :steel-chest-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :straight-rail [ [ -0.7 -0.8 ] [ 0.7 0.8 ] ]
  :small-biter [ [ -0.4 -0.7 ] [ 0.7 0.4 ] ]
  :behemoth-spitter-corpse [ [ -1 -1 ] [ 1 1 ] ]
  :crude-oil [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :electric-furnace-remnants [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :fluid-wagon [ [ -1 -2.703125 ] [ 1 3.296875 ] ]
  :small-biter-corpse [ [ -0.8 -0.8 ] [ 0.8 0.8 ] ]
  :logistic-chest-storage [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :fast-splitter [ [ -0.9 -0.5 ] [ 0.9 0.5 ] ]
  :medium-electric-pole [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :centrifuge [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :substation [ [ -1 -1 ] [ 1 1 ] ]
  :big-electric-pole [ [ -1 -1 ] [ 1 1 ] ]
  :car-remnants [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :steam-turbine [ [ -1.5 -2.5 ] [ 1.5 2.5 ] ]
  :storage-tank [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :tree-08-red [ [ -0.9 -2.2 ] [ 0.9 0.6 ] ]
  :beacon-remnants [ [ -0.5 -1 ] [ 0.5 1 ] ]
  :decider-combinator-remnants [ [ -0.5 -1 ] [ 0.5 1 ] ]
  :inserter [ [ -0.4 -0.35 ] [ 0.4 0.45 ] ]
  :copper-ore [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :rock-huge [ [ -1.7 -1.3 ] [ 1.7 1.3 ] ]
  :filter-inserter-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :fast-loader [ [ -0.5 -1 ] [ 0.5 1 ] ]
  :logistic-robot-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :big-ship-wreck-2 [ [ -2 -1.5 ] [ 2 1.5 ] ]
  :iron-chest-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :crash-site-chest-2 [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :burner-mining-drill [ [ -1 -1 ] [ 1 1 ] ]
  :express-underground-belt [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :tree-06-stump [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :bait-chest [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :medium-worm-turret [ [ -1.1 -1.0 ] [ 1.1 1.0 ] ]
  :crash-site-assembling-machine-1-broken [ [ -1.5 -1 ] [ 1.5 1 ] ]
  :tree-01-stump [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :mineable-wreckage [ [ -1.3 -1.1 ] [ 1.3 1.1 ] ]
  :small-ship-wreck [ [ -1.3 -1.1 ] [ 1.3 1.1 ] ]
  :medium-electric-pole-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :chemical-plant-remnants [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :small-spitter [ [ -0.4 -0.4 ] [ 0.4 0.4 ] ]
  :gun-turret [ [ -1 -1 ] [ 1 1 ] ]
  :small-scorchmark [ [ -1 -1 ] [ 1 1 ] ]
  :long-handed-inserter-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :express-underground-belt-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :underground-belt-remnants [ [ -0.5 -0.5 ] [ 0.5 0.5 ] ]
  :flamethrower-turret-remnants [ [ -1 -1.5 ] [ 1 1.5 ] ]
  :assembling-machine-3 [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :gun-turret-remnants [ [ -1 -1 ] [ 1 1 ] ]
  :big-biter-corpse [ [ -1 -1 ] [ 1 1 ] ]
  :behemoth-worm-corpse [ [ -0.8 -0.8 ] [ 0.8 0.8 ] ]
  :offshore-pump [ [ -0.6 -1.49 ] [ 0.6 0.49 ] ]
  :behemoth-spitter [ [ -0.7 -1.0 ] [ 0.7 1.0 ] ]
  :oil-refinery-remnants [ [ -2.5 -2.5 ] [ 2.5 2.5 ] ]
  :big-scorchmark [ [ -4 -4 ] [ 4 4 ] ]
  :electric-mining-drill-remnants [ [ -1.5 -1.5 ] [ 1.5 1.5 ] ]
  :rocket-silo-remnants [ [ -4.5 -4.5 ] [ 4.5 4.5 ] ]
  :small-worm-corpse [ [ -0.8 -0.8 ] [ 0.8 0.8 ] ]
}
