{:accumulator 50
 :advanced-circuit 200
 :arithmetic-combinator 50
 :artillery-shell 1
 :artillery-targeting-remote 1
 :artillery-turret 10
 :artillery-wagon 5
 :artillery-wagon-cannon 1
 :assembling-machine-1 50
 :assembling-machine-2 50
 :assembling-machine-3 50
 :atomic-bomb 10
 :automation-science-pack 200
 :battery 200
 :battery-equipment 20
 :battery-mk2-equipment 20
 :beacon 10
 :belt-immunity-equipment 20
 :big-electric-pole 50
 :blueprint 1
 :blueprint-book 1
 :boiler 50
 :burner-generator 10
 :burner-inserter 50
 :burner-mining-drill 50
 :cannon-shell 200
 :car 1
 :cargo-wagon 5
 :centrifuge 50
 :chemical-plant 10
 :chemical-science-pack 200
 :cliff-explosives 20
 :cluster-grenade 100
 :coal 50
 :coin 100000
 :combat-shotgun 5
 :concrete 100
 :constant-combinator 50
 :construction-robot 50
 :copper-cable 200
 :copper-ore 50
 :copper-plate 100
 :copy-paste-tool 1
 :cut-paste-tool 1
 :decider-combinator 50
 :deconstruction-planner 1
 :defender-capsule 100
 :destroyer-capsule 100
 :discharge-defense-equipment 20
 :discharge-defense-remote 1
 :distractor-capsule 100
 :dummy-steel-axe 1
 :effectivity-module 50
 :effectivity-module-2 50
 :effectivity-module-3 50
 :electric-energy-interface 50
 :electric-engine-unit 50
 :electric-furnace 50
 :electric-mining-drill 50
 :electronic-circuit 200
 :empty-barrel 10
 :energy-shield-equipment 20
 :energy-shield-mk2-equipment 20
 :engine-unit 50
 :exoskeleton-equipment 20
 :explosive-cannon-shell 200
 :explosive-rocket 200
 :explosive-uranium-cannon-shell 200
 :explosives 50
 :express-loader 50
 :express-splitter 50
 :express-transport-belt 100
 :express-underground-belt 50
 :fast-inserter 50
 :fast-loader 50
 :fast-splitter 50
 :fast-transport-belt 100
 :fast-underground-belt 50
 :filter-inserter 50
 :firearm-magazine 200
 :flamethrower 5
 :flamethrower-ammo 100
 :flamethrower-turret 50
 :fluid-wagon 5
 :flying-robot-frame 50
 :fusion-reactor-equipment 20
 :gate 50
 :green-wire 200
 :grenade 100
 :gun-turret 50
 :hazard-concrete 100
 :heat-exchanger 50
 :heat-interface 20
 :heat-pipe 50
 :heavy-armor 1
 :infinity-chest 10
 :infinity-pipe 10
 :inserter 50
 :iron-chest 50
 :iron-gear-wheel 100
 :iron-ore 50
 :iron-plate 100
 :iron-stick 100
 :item-unknown 1
 :item-with-inventory 1
 :item-with-label 1
 :item-with-tags 1
 :lab 10
 :land-mine 100
 :landfill 100
 :laser-turret 50
 :light-armor 1
 :linked-belt 10
 :linked-chest 10
 :loader 50
 :locomotive 5
 :logistic-chest-active-provider 50
 :logistic-chest-buffer 50
 :logistic-chest-passive-provider 50
 :logistic-chest-requester 50
 :logistic-chest-storage 50
 :logistic-robot 50
 :logistic-science-pack 200
 :long-handed-inserter 50
 :low-density-structure 10
 :medium-electric-pole 50
 :military-science-pack 200
 :modular-armor 1
 :night-vision-equipment 20
 :nuclear-fuel 1
 :nuclear-reactor 10
 :offshore-pump 20
 :oil-refinery 10
 :personal-laser-defense-equipment 20
 :personal-roboport-equipment 20
 :personal-roboport-mk2-equipment 20
 :piercing-rounds-magazine 200
 :piercing-shotgun-shell 200
 :pipe 100
 :pipe-to-ground 50
 :pistol 5
 :plastic-bar 100
 :player-port 50
 :poison-capsule 100
 :power-armor 1
 :power-armor-mk2 1
 :power-switch 50
 :processing-unit 100
 :production-science-pack 200
 :productivity-module 50
 :productivity-module-2 50
 :productivity-module-3 50
 :programmable-speaker 50
 :pump 50
 :pumpjack 20
 :radar 50
 :rail 100
 :rail-chain-signal 50
 :rail-signal 50
 :raw-fish 100
 :red-wire 200
 :refined-concrete 100
 :refined-hazard-concrete 100
 :repair-pack 100
 :roboport 10
 :rocket 200
 :rocket-control-unit 10
 :rocket-fuel 10
 :rocket-launcher 5
 :rocket-part 5
 :rocket-silo 1
 :satellite 1
 :selection-tool 1
 :shotgun 5
 :shotgun-shell 200
 :simple-entity-with-force 50
 :simple-entity-with-owner 50
 :slowdown-capsule 100
 :small-electric-pole 50
 :small-lamp 50
 :solar-panel 50
 :solar-panel-equipment 20
 :solid-fuel 50
 :space-science-pack 2000
 :speed-module 50
 :speed-module-2 50
 :speed-module-3 50
 :spidertron 1
 :spidertron-remote 1
 :spidertron-rocket-launcher-1 1
 :spidertron-rocket-launcher-2 1
 :spidertron-rocket-launcher-3 1
 :spidertron-rocket-launcher-4 1
 :splitter 50
 :stack-filter-inserter 50
 :stack-inserter 50
 :steam-engine 10
 :steam-turbine 10
 :steel-chest 50
 :steel-furnace 50
 :steel-plate 100
 :stone 50
 :stone-brick 100
 :stone-furnace 50
 :stone-wall 100
 :storage-tank 50
 :submachine-gun 5
 :substation 50
 :sulfur 50
 :tank 1
 :tank-cannon 5
 :tank-flamethrower 1
 :tank-machine-gun 1
 :train-stop 10
 :transport-belt 100
 :underground-belt 50
 :upgrade-planner 1
 :uranium-235 100
 :uranium-238 100
 :uranium-cannon-shell 200
 :uranium-fuel-cell 50
 :uranium-ore 50
 :uranium-rounds-magazine 200
 :used-up-uranium-fuel-cell 50
 :utility-science-pack 200
 :vehicle-machine-gun 1
 :wood 100
 :wooden-chest 50}
